apiVersion: apps/v1
kind: Deployment
metadata:
  name: gubernator
  labels:
    app: gubernator
spec:
  replicas: 4
  selector:
    matchLabels:
      app: gubernator
  template:
    metadata:
      labels:
        app: gubernator
    spec:
      serviceAccountName: gubernator
      containers:
        - image: ghcr.io/gubernator-io/gubernator:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: grpc-port
              containerPort: 1051
            - name: http-port
              containerPort: 1050
          name: gubernator
          env:
          - name: GUBER_K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: GUBER_K8S_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          # Must set the GRPC and HTTP addresses, as gubernator
          # defaults to listening on localhost only
          - name: GUBER_GRPC_ADDRESS
            value: 0.0.0.0:1051
          - name: GUBER_HTTP_ADDRESS
            value: 0.0.0.0:1050
          # Use the k8s API for peer discovery
          - name: GUBER_PEER_DISCOVERY_TYPE
            value: "k8s"
          # This should match the port number GRPC is listening on
          # as defined by `containerPort`
          - name: GUBER_K8S_POD_PORT
            value: "1051"
          # The name of the Service that selects gubernator pods.
          # Required for endpointslices watch mechanism.
          - name: GUBER_K8S_SERVICE_NAME
            value: "gubernator"
          # The selector used when watching pods directly.
          # Only needed when using 'pods' watch mechanism.
          - name: GUBER_K8S_SELECTOR
            value: "app=gubernator"
          # Gubernator can watch 'endpointslices' for changes to the peers
          # or it can watch 'pods' (Defaults to 'endpointslices')
          # - name: GUBER_K8S_WATCH_MECHANISM
          #  value: "endpointslices"
          # Enable debug for diagnosing issues
          - name: GUBER_DEBUG
            value: "true"
          # Defines the max age of a client connection
          # Default is infinity
          # - name: GUBER_GRPC_MAX_CONN_AGE_SEC
          #  value: "30"

      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: gubernator
  labels:
    app: gubernator
spec:
  clusterIP: None
  #ports:
  #- name: grpc-port
  #targetPort: 1051
  #protocol: TCP
  #port: 1051
  #- name: http-port
  #targetPort: 1050
  #protocol: TCP
  #port: 1050
  selector:
    app: gubernator
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gubernator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gubernator
rules:
- apiGroups:
  - "discovery.k8s.io"
  resources:
  - endpointslices
  verbs:
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gubernator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gubernator
subjects:
- kind: ServiceAccount
  name: gubernator
